<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :body, class: 'form-label' %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div>
    <%= f.submit 'Save Comment', class: 'button' %>
  </div>
<% end %>