<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>
      Morbi dignissim malesuada nibh, eu commodo dolor placerat posuere. Sed accumsan malesuada lacus quis malesuada.
      Mauris finibus diam nulla, ut ultricies leo lacinia quis. Phasellus vel maximus odio. Vestibulum sed fringilla
      eros. Praesent gravida metus ut sem elementum, et hendrerit nisl sodales. Cras gravida tempor turpis quis
      accumsan. Donec ut facilisis ex.
    </p>
  </div>
</div>