<%= form_for post do |f| %>
  <% if @post.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@post.errors.count, "error") %> stopped this post from saving</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :title, class: 'form-label' %> <br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :body, class: "form-label" %> <br>
    <%= f.text_area :body, rows: '10', class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.submit 'Save Post', class: 'button' %>
  </div>
<% end %>