<!DOCTYPE html>
<html>
<head>
  <title>Tumblr</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= favicon_link_tag('favicon.png') %>
</head>

<body>

<!--<p class="notice"><%#= notice %></p>
<p class="alert"><%#= alert %></p>-->

<div id="sidebar">
  <ul>
    <li class="category"><%= link_to "Tumblr", root_path %></li>
    <li><%= link_to "Posts", root_path %></li>
    <li><%= link_to 'About', about_path %></li>
  </ul>
  <% unless user_signed_in? %>
    <p class="sign_in"><%= link_to 'User Login', new_user_session_path %></p>
  <% end %>
</div>

<div id="main_content">
  <div id="header">
    <% if current_page?(root_path) %>
      <p>Post Feed</p>
    <% elsif current_page?(about_path) %>
      <p>My Site</p>
    <% else %>
      <%= link_to "Back to post feed", root_path %>
    <% end %>

    <% if user_signed_in? %>
      <div class="buttons">
        <button class="button"><%= link_to "Make post", new_post_path %></button>
        <button class="button"><%= link_to 'Log Out', destroy_user_session_path, method:  :delete %></button>
      </div>
    <% end %>
  </div>
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: 'alert') %>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
